/* You can add global styles to this file, and also import other style files */
body{
    max-width: 640px;
    min-width: 320px;
    margin:0 auto;
    height: 100%;
}
h1,h2,h3,h4,p{
    padding: 0;
    margin: 10px 0;
}
.wrap{
    max-width:640px;
    min-width:320px;
    margin:0 auto;
    height: 100%;
}
.body{
    width: 100%;
    padding: 10px;
    background: #eee;
    box-sizing: border-box;
}